<div class="nav-spacer"></div>
<div class="container">
    <h1><%= @parkingslots.count%> parking slots found near you</h1>
    <div class="car-icon"></div>
  <div class="row" style="height: 100%">
    <div class="col">
      <% @parkingslots.each do  |element| %>
        <%= link_to parking_slot_path(element), class:"text-decoration-none" do %>
          <div class="card-small">
            <img src="https://source.unsplash.com/random/?parking" alt="">
            <div class="card-small-info">
              <h2><%= element.title %></h2>
                <p><%= element.address %></p>
                <p><%= element.price.to_i %> € per day</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col">
        <div style="width: 612px; height: 399px;"
            data-controller="map"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            data-map-markers-value="<%= @markers.to_json %>">
        </div>
    </div>
  </div>
</div>
