<div class="container">
  <div class="image-container row justify-content-between mb-3">
    <div class="image col-8 img-fluid"  >
      <img src="https://media.istockphoto.com/photos/dealer-new-cars-stock-picture-id480652712?k=20&m=480652712&s=612x612&w=0&h=dbyTkQ3-PJJMAlNAR2hGxPWX1ODvSJspuDsdvQmOKlI=" class="w-100 h-100" alt="Responsive image">
    </div>

    <div class="map col-4">
      <div style="width: auto; height: 399px;"
          data-controller="map"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-markers-value="<%= @markers.to_json %>">
      </div>
    </div>
  </div>
  <div class="product-container row justify-content-between">
    <div class="description-container col-8">
     <h1> <%= @parkingslot.title %></h1>
        <h2><%= @parkingslot.description %></h2>
        <p>Location: <%= @parkingslot.address %></p>
        <p>Width: <%= @parkingslot.width %> m - Height: <%= @parkingslot.height %> m </p>
        <p>Security items: <%= @parkingslot.security %></p>
        <p>Price per day: <%= @parkingslot.price.round %> <%= @parkingslot.currency %></p>
    </div>
    <div class="booking-container col-4 justify-content-center">
      <h2> <%= @parkingslot.price.round %> € per day </h2>
      <div class="check-box-container d-flex justify-content-center">
          <%= simple_form_for @parkingslot do |parking| %>
            <div class="check-box-wrapper check-box-container d-flex justify-content-center">
            <%= parking.input :title, label: 'Check-in', wrapper_html: { class: 'check-in-box' } %>
            <%= parking.input :title, label: 'Check-out', wrapper_html: { class: 'check-out-box' } %>
            </div>
            <div class="button-form-container d-flex justify-content-center">
            <%= parking.button :submit, 'Make a reservation',  class: "button d-flex"%>
            </div>
          <% end %>
      </div>
      <div class="booking-resume-container">
        <p>You won't be charged yet</p>
        <p><%= @parkingslot.price.round %> <%= @parkingslot.currency %> x 5 days</p>
        <hr>
        <p class ="line">Total = <%= @parkingslot.price.round * 5 %> € </p>
        <%= link_to 'make request',  new_parking_slot_rental_request_path(@parkingslot)  %>
      </div>
    </div>
    </div>
</div>
