<div class="container-nav sticky-top">
<div class="container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "logo.png" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <ul class="navbar-nav me-auto">
            <li class="nav-item active longer">
              <%= form_with url: "/search", method: :get, class: "nav-link" do |form| %>
                <%= form.text_field :query, placeholder: "Where?", class: "no-border" %>
              <% end %>
            </li>
            <li class="nav-item active">
              <%= form_with url: "/search", method: :get, class: "nav-link" do |form| %>
                <%= form.text_field :query, placeholder: "From?", class: "no-border" %>
              <% end %>
            </li>
            <li class="nav-item active">
              <%= form_with url: "/search", method: :get, class: "nav-link" do |form| %>
                <%= form.text_field :query, placeholder: "Until?", class: "no-border" %>
              <% end %>
            </li>
            <li class="nav-item-special-1 active">
              <%= image_tag "car.png", class: "smaller-image" %>
            </li>
            <li class="nav-item-special-2 active">
              <%= image_tag "motorbike.png", class: "smaller-image" %>
            </li>
        </ul>
      <% if user_signed_in? %>
        <div class="nav-item dropdown">
          <%= image_tag "logo.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My listings", "#", class: "dropdown-item" %>
            <%= link_to "My bookings", "#", class: "dropdown-item" %>
            <%= link_to "Add a parking slot", "#", class: "dropdown-item" %>
            <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
          </div>
        </div>
      <% else %>
        <%= button_to "Login", new_user_session_path, class: "button" %>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
    </div>
  </div>
</div>
</div>
