<div class="container-nav sticky-top">
<div class="container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "logo.png" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div data-controller="navbar">
        <ul class="navbar-nav me-auto">
              <%= form_with url: root_path, method: :get, class: "d-flex" do |form| %>
                <li class="active longer nav-link p-0">
                  <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
                    <%= form.text_field :query, placeholder: "Whddddere?", class: "no-border display-none", data: {address_autocomplete_target: "address"} %>
                  </div>
                </li>
                <li class="nav-item active large nav-link pt-3">
                  <%= form.text_field :from, placeholder: "From? (dd/mm/yy)", class: "no-border" %>
                </li>
                <li class="nav-item active large nav-link pt-3" data-action="keyup->navbar#index">
                  <%= form.text_field :until, placeholder: "Until? (dd/mm/yy)", class: "no-border", id: "until" %>
                </li>
                <button type="submit" class="d-none" id="button"> submit</button>
              <% end %>
            <li class="nav-item-special-1 active">
              <div class="car-icon">
              </div>
            </li>
            <li class="nav-item-special-2 active">
              <div class="scooter-icon">
              </div>
            </li>
        </ul>
      </div>
      <% if user_signed_in? %>
        <div class="nav-item dropdown little-longer">
        <i class="fa-solid fa-lg fa-bars" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <%= image_tag "avatar.png", class: "avatar dropdown-toggle", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My listings", "#", class: "dropdown-item" %>
            <%= link_to "My bookings", "my-bookings", class: "dropdown-item" %>
            <%= link_to "Add a parking slot", new_parking_slot_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
          </div>
        </div>
      <% else %>
        <%= button_to "Login", new_user_session_path, method: :get, class: "button" %>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
    </div>
  </div>
</div>
</div>
