<%= content_tag :div, class: "jsdata", data: {bookings: @bookings} do %>
<% end %>
<div class="nav-spacer"></div>
<div class="container">
  <h1>Your bookings</h1>
  <% if @bookings %>
    <%@bookings.each do |booking| %>
      <%= link_to parking_slot_path(booking.parking_slot), class:"text-decoration-none" do %>
          <div class="card-large">
            <div class="row"></div>
            <img src="https://source.unsplash.com/random/?parking" alt="" class="col-3">
            <div class="card-large-info col-5">
              <h2><%= booking.parking_slot.title %></h2>
                <p><%= booking.parking_slot.address %></p>
                <p><%= booking.parking_slot.price.to_i %> € per day</p>
            </div>
              <% case booking.status.downcase %>
                  <% when "pending" %>
                    <% message = @message_pending %>
                    <% alertclass = "card-status-pending" %>
                  <% when "confirmed" %>
                    <% message = @message_confirmed %>
                    <% alertclass = "card-status-confirmed" %>
                  <% when "declined" %>
                    <% message = @message_declined %>
                    <% alertclass = "card-status-declined" %>
              <% end %>
            <%= content_tag :div, class: ["col-4", "card-status", "#{alertclass}"], data: {controller: "card" } do %>
              <p><strong>Status: </strong><%= message %></p>
              <p><strong>Dates:</strong> <%= booking.start_date %> until <%= booking.end_date %></p>
              <p><strong>Total: </strong><%= booking.parking_slot.price.to_i * booking.total_amount.to_i%> € (<%= booking.total_amount.to_i %> days x <%= booking.parking_slot.price.to_i %> €)</p>
            <% end %>
          </div>
      <% end %>
    <% end %>
  <% else %>
    <p>You currently have no bookings</p>
  <% end %>
</div>
