<div class="container">
  <div class="row_one row justify-content-between">
   <div class="rental-review col-6">
    <h1>Please confirm your review </h1>
      <h2>Booking overview</h2>
        <p> <%= @parkingslot.title %></p>
        <p><%= @parkingslot.description %></p>
        <p>Location: <%= @parkingslot.address %></p>
        <p>Width: <%= @parkingslot.width %> m - Height: <%= @parkingslot.height %> m </p>
        <p>Security items: <%= @parkingslot.security %></p>
        <p>Price per day: <%= @parkingslot.price.round %> <%= @parkingslot.currency %></p>
    </div>
  <div class="map-rental-request col-4">
    <div style="width: auto; height: 399px;"
        data-controller="map"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-markers-value="<%= @markers.to_json %>">
    </div>

  </div>
</div>
