<!DOCTYPE html>
<html>
  <head>
    <title>Parkingfy 247</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<<<<<<< HEAD
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
=======
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> %>
>>>>>>> 80d5d26b8d178f5cd50bd8e6cc5bd60f409169c4
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
